[submodule "sources"]
	path = sources
	url = https://github.com/debian-pm-tools/orig-tar-xzs
	shallow = true
[submodule "repo-conf"]
	path = repo-conf
	url = https://gitlab.com/debian-pm/tools/apt-repo-conf
